Task 12.2

#loading {
    color: blue;
    font-weight: bold;
}

#error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.user-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

/*Task 12.3*/
#post-form {
    margin-top: 30px;
}

#post-form input,
#post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#post-form button {
    padding: 10px 20px;
    cursor: pointer;
}

#post-result {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

/*Task 12.4*/

.controls {
    margin: 20px 0;
}

.controls input,
.controls select {
    padding: 10px;
    margin: 5px;
}